<div id="landingContainer" style="display: none">
  <nav>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-6">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-shrink-0 items-center">
          <img
            class="w-auto h-6"
            src="https://i.imgur.com/GFVnz9R.png"
            alt="ASCENDED Logo"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              href="#"
              class="text-white rounded-md px-3 py-2 text-sm font-bold"
              aria-current="page"
              >STARTSEITE</a
            >
            <a
              href="#"
              id="server_selection_button"
              class="text-gray-300 hover:font-bold hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >MODPACKS</a
            >
            <a
              href="#"
              id="settingsMediaButton"
              class="text-gray-300 hover:font-bold hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >EINSTELLUNGEN</a
            >
            <a
              href="#"
              id="aboutOverlay"
              class="text-gray-300 hover:font-bold hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >ÜBER</a
            >
          </div>
        </div>
        <div
          id="avatarOverlay"
          class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <!-- Profile dropdown -->
          <a
            href="#"
            id="user_text"
            class="text-gray-300 hover:font-bold hover:text-white rounded-md px-3 py-2 text-sm font-medium"
            >MNKYARTS</a
          >
          <div class="relative ml-3">
            <div>
              <button
                type="button"
                class="relative flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img
                  id="account_avatar"
                  class="h-8 w-8 rounded-full"
                  src="https://mc-heads.net/head/notch"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a
          href="#"
          class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
          aria-current="page"
          >Dashboard</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
          >Team</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
          >Projects</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
          >Calendar</a
        >
      </div>
    </div>
  </nav>

  <!-- Banner -->
  <div
    class="w-full bg-cover bg-center h-64 relative"
    style="background-image: url(./assets/images/Banner.png)"
  >
    <!-- Test Stuff -->
    <div
      id="launch_content"
      class="absolute left-1/2 bottom-0 transform -translate-x-1/2"
    ></div>
    <!-- Test Stuff End -->
    <button
      id="launch_button"
      class="z-30 absolute flex flex-col items-center left-1/2 bottom-0 transform -translate-x-1/2 translate-y-1/2 px-7 pb-2 pt-4 bg-[#553adf] text-3xl font-bold rounded-xl transition-all duration-200 shadow-[0_0px_60px_0px_#694ef3] hover:shadow-[0_0px_60px_5px_#694ef3] outline outline-3 hover:outline-[6px] hover:-outline-offset-[6px] -outline-offset-2 outline-[#6950e6]"
    >
      <span class="p-0 m-0 font-['Objective-Bold'] leading-6"
        >JETZT SPIELEN</span
      >
      <span
        id="server_selection_name"
        class="p-0 m-0 font-light text-sm leading-5"
        >Wähle ein Modpack aus</span
      >
    </button>
  </div>

  <!-- News -->
  <div class="relative">
    <div
      id="newsErrorContainer"
      class="z-10 absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    >
      <div id="newsErrorLoading">
        <span id="nELoadSpan" class="newsErrorContent"
          ><%- lang('landing.newsErrorLoadSpan') %></span
        >
      </div>
      <div id="newsErrorFailed" style="display: none">
        <span id="nEFailedSpan" class="newsErrorContent"
          ><%- lang('landing.newsErrorFailedSpan') %></span
        >
        <button id="newsErrorRetry">
          <%- lang('landing.newsErrorRetryButton') %>
        </button>
      </div>
      <div id="newsErrorNone" style="display: none">
        <span id="nENoneSpan" class="newsErrorContent"
          ><%- lang('landing.newsErrorNoneSpan') %></span
        >
      </div>
    </div>
    <div
      id="newsGridContainer"
      class="grid grid-cols-3 grid-flow-col gap-10 px-10 py-16 relative"
    ></div>
  </div>

  <div id="launch_details" class="absolute bottom-6 w-screen">
    <div id="launch_details_right" class="relative">
      <div
        id="launch_details_left"
        class="absolute h-[50px] flex items-center justify-center z-10 w-screen"
      >
        <span id="launch_progress_label" class="mr-5">0%</span>
        <span id="launch_details_text" class="bot_label">
          <%- lang('landing.launchDetails') %></span
        >
      </div>
      <progress
        id="launch_progress"
        class="absolute w-screen"
        value="22"
        max="100"
      ></progress>
    </div>
  </div>
  <script src="./assets/js/scripts/landing.js"></script>
</div>
